<div class="span10">
	<div class="hero-unit panel" ng-controller = "OrganizeCtrl">

		<p class="lead">
			hi <%= user.first_name.capitalize%>, your friends think you will enjoy these...				
		</p>

		<%= filter_bar%>

		<blockquote ng-repeat="post in posts | filter:search">
			<%= render "common/post"%>

			<br><br> 
			<%= archive_btn%>
			<%= delete_btn%>
			<br><br> 

		</blockquote>

	</div>
</div>

