<div class="span10">
	<div class="hero-unit panel" ng-controller = "ArchivedCtrl">

		<p class="lead">archived feeds</p>

		<%= filter_bar%>

		<blockquote style="text-align: left" ng-repeat="post in posts | filter:search">
			<%= render "common/post"%>
			<%= delete_btn%>
			<%= dearchive_btn%>

			<hr>

			<%= render "common/comment"%>

			
			<br><br> 

		</blockquote>

	</div>
</div>
