<!DOCTYPE html>
<html>
<head>
	<title>LaughingMushrooms</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application"%>
	<%= csrf_meta_tags %>
</head>
<body ng-app="LaughingMushrooms">
	<% if !flash[:warning].blank?%>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<%= flash[:warning]%>
	</div>
	<%end%>

	<% if !flash[:notice].blank?%>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<%= flash[:notice]%>
	</div>
	<%end%>

	<%if session[:user_id]%>
	<div class="container-fluid" ng-controller="mainCtrl">
		<div class="row-fluid">
			<div class="span2">
				<%= render "common/menu" %>
				<%= render "common/activities_feed"%>
			</div>

			<%= yield %>

		</div>
	</div>

	<%else%>
	<%= yield %>

	<%end%>

</body>
</html>
